*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #1B171C;
    display: grid;
    grid-template-rows: 15vh 90vh 45vh;
}
header{
    background-color: #301E3F;
    border-bottom: solid #B47E00 4px;
    display: flex;
    align-items: center;
}
.logo{
    background-image: url(logo.png);
    height: 15vh;
    width: 255px;
    background-repeat: no-repeat;
}
.pesquisa{
    background-color: #D9D9D9;
    height: 4vh;
    width: 500px;
    border-radius: 50px;
    color: #B47E00;
    margin-left: 10vh;
    margin-right: 10vh;
    font-family: "Roboto Flex", sans-serif;
    display: flex;
    align-items: center;
}
.pesquisa>p{
    padding-right: 270px;
    padding-left: 10px;
}
header>ul{
    list-style: none;
    font-family: "Boldonse", system-ui;
    font-size: 19px;
    text-align: center;
    align-items: center;
    display: flex;
}
header>ul>li{
    margin-right: 100px;
    position: relative;
}
header>ul>li::after{
    content: "";
    position: absolute;
    background-color: #B47E00;
    height: 5px;
    left: 0;
    top: 105%;
    width: 100%;
    transform: scale(0);
    transition: 0.3s;
}
header>ul>li:hover::after{
    transform: scale(1);
}
.ativo::after{
    content: "";
    position: absolute;
    background-color: #B47E00;
    height: 5px;
    left: 0;
    top: 105%;
    width: 100%;
}
.link_cabecalho{
    text-decoration: none;
    color: #D9D9D9;
    transition: 0.3s;
}
.link_cabecalho>i{
    font-size: 35px;
}
.link_cabecalho:hover{
    color: #B47E00;
}
.fomrulario{
    display: flex;
    justify-content: center;
    align-items: top;
}
.titulo{
    font-family: "Boldonse", system-ui;
    color: #D9D9D9;
    font-size: 30px;
    margin-top: 20px;
}
.form{
    font-family: "Roboto Flex", sans-serif;
    color: #B47E00;
    width: 1100px;
    background-color: #301E3F;
    border-radius: 50px;
    padding: 30px;
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 20vh 10vh 5vh;
}
.form>div>input{
    width: 100%;
    background-color: #472B65;
    border: none;
    border-radius: 50px;
    color: #B47E00;
}
#descricao{
    height: 80%;
}
#enviar_form{
    background-color: #472B65;
    border: none;
    color: #B47E00;
    font-weight: 700;
    padding: 15px;
    text-decoration: none;
    border-radius: 50px;
}

footer{
    background-color: #301E3F;
    border-top: solid #B47E00 4px;
    display: flex;
    align-items: top;
    justify-content: space-around;
    padding-top: 50px;
    
}
.categoria_rodape{
    font-family: "Roboto Flex", sans-serif;
    color: #B47E00;
}
.categoria_rodape>div>a>i{
    font-size: 30px;
    padding-bottom: 50px;
    color: #B47E00;
}
.rodape_titulo{
    font-weight: 700;
    font-size: 25px;
    width: 260px;
}
.categoria_rodape>div>a{
    color: #B47E00;
    text-decoration: none;
}
.item_rodape{
    padding-bottom: 25px;
    padding-left: 15px;
}
.teste{
    width: 250px;
}
#seu_nome{
    background-color: #472B65;
    border: none;
    color: #B47E00;
    padding: 15px;
    margin-bottom: 20px;
}
#seu_email{
    background-color: #472B65;
    border: none;
    color: #B47E00;
    padding: 15px;
    margin-bottom: 25px;
}
#enviar{
    background-color: #472B65;
    border: none;
    color: #B47E00;
    font-weight: 700;
    padding: 15px;
    text-decoration: none;
}
.pagamentos{
    width: 300px;
    height: 300px;
    display: flex;
    align-content: space-evenly;
}
.pagamento_opcao{
    padding: 2px;
}